enwiki-20250401-pages-articles.xml.bz2enwiki-20250401-pages-articles.xml.bz2
enwiki-20250401-pages-articles.xml.bz2
/enwiki20201020
/wiki_plaintext
/mnt/c/Users/swoos/OneDrive/Documents/GitHub/CIS492_BigData_FinalProject/wiki_plaintext
/.vscode
/.vscode
__pycache__/dewiki_functions.cpython-312.pyc
\venv
C:\Users\swoos\OneDrive\Documents\GitHub\CIS492_BigData_FinalProject\enwiki20201020
C:\Users\swoos\OneDrive\Documents\GitHub\CIS492_BigData_FinalProject\enwiki-20250401-pages-articles.xml
C:\Users\swoos\OneDrive\Documents\GitHub\CIS492_BigData_FinalProject\venv_py38
/.vscode
enwiki-20250401-pages-articles.xml/enwiki-20250401-pages-articles.xml
/venv_py38
/venv
BIG DATA presentation.pptx
claude_disaster.py
actual_run.py
